@import "normalize";

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

html {
    min-width: 320px;
}

body {
    background-color: #EEE;
    
    &>header {
        background-color: #FFF;
        border-bottom: 1px solid #DDD;
        
        h1 {
            @extend .ir;
            font-size: 1em;
            background: url('/img/logo-280.png') no-repeat left top;
            margin: 0 auto;
            height: 185px;
            min-width: 253px;
            max-width: 400px;
        }
    }
}

a {
    color: #007BB6;
    &:hover {
        color: #F7982A;
        transition: color 0.3s;
    }
}

#contact {
    list-style-type: none;
    margin: 2em auto 0 auto;
    padding: 0;
    color: #007BB6;
    max-width: 400px;
    
    li {
        margin: 1em 0 0 0;
    }
    
    i {
        text-decoration: none;
        display: inline-block;
        width: 1.5em;
    }
}

body>header,
section {
    padding: 2em;
}

section {
    @extend .clearfix;
    margin-bottom: 2em;
    color: #777;
    position: relative;
    max-width: 400px;
    
    header {
        h2 {
            font-family: 'Coustard', serif;
            font-weight: 400;
            font-size: 2em;
            line-height: 0.93em;
            margin: 0;
        }
        
        h3 {
            font-weight: 600;
            font-size: 1.1em;
            line-height: 1em;
            margin: 0.3em 0 0 0;
        }
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1em;
    }
    
    .link {
        display: block;
        margin: 1em 0;
        padding: 0 0.4em;
        
        i {
            text-decoration: none;
            display: inline-block;
            width: 1.5em;
        }
    }
    
    p {
        margin: 0.6em 0;
    }
    
    .tags {
        @extend .clearfix;
        list-style-type: none;
        padding: 0;
        margin-bottom: 1em;
        
        li {
            display: block;
            float: left;
            font-size: 0.8em;
            padding: 0.1em 0.5em;
            margin: 0 0.5em 0.5em 0;
            background-color: #F7982A;
            color: #FFF;
        }
    }
    
    h4 {
        margin: 1em 0 0 0;
    }
    
    .awards {
        margin: 0 0 1em 0;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 30em) {
    body>header,
    section {
        padding: 3em;
        margin: 0 auto;
    }
    
    section {
        header {
            h2 {
                font-size: 2.5em;
            }
        }
    }
}

@media only screen and (min-width: 50em) {
    body {
        background-color: #EEE;
        margin-left: 349px;
        padding-top: 2em;
        padding-bottom: 8em;
        
        &>header {
            background-color: #FFF;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            border-bottom: none;
            border-right: 1px solid #DDD;
        }
    }
    
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width: 70em) {
    section {
        max-width: 100%;
        
        .info {
            width: 50%;
            float: left;
            clear: left;
        }
        
        .images {
            margin-left: 50%;
            padding-left: 1em;
            max-width: 400px;
        }
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
